:root {
    --color1: #F4F0E4;
    --color2: #44A194;
    --color3: #537D96;
    --color4: #EC8F8D;
    --color5: #5e5555;
}

#container {
    background-color: #F4F0E4;
}

header {
    background-color: var(--color2);
    color: var(--color1);
    margin: auto;
    padding: 10px 0px;
    display: inline-flex;
    width: 100%;
}
header h3 {
    max-width: fit-content;
    padding: 0 10px;
}
header nav {
    width: fit-content;
    text-align: center;
    position: absolute;
    right: 20px;
    margin-top: 3px;
}

li {
    list-style-type: none;
    display: inline;
    border-right: 1px solid var(--color1);
    padding-right: 5px;
}
li:last-child {
    border: none;
}
li a {
    text-decoration: none;
    color: var(--color1);
}
li a:link {
    color: var(--color1); /* Before Click */
}
li a:visited {
    color: var(--color5); /* After Click */
}
li a:hover {
    color: var(--color4); /* Mouse Over */
}
li a:active {
    color: #753a30; /* Mouse Down */
}

main {
    margin: 0 10%;
    color: var(--color5);
    min-height: fit-content;
}
main h1 {
    text-align: center;
    color: var(--color4);
}

main img, main button {
    display: block;
    margin: 10px auto;
}

footer {
    background-color: var(--color3);
    padding: 10px;
    margin: 20px 0px;
    text-align: center;
    color: var(--color1);
}

 /* table */
table {
    margin-top: 35px;
    background-color: #000;
}
table, caption, th, td {
    border: 1px solid var(--color5);
    border-collapse: collapse;
    background-color: var(--color1);
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    padding-top: 15px;
    color: var(--color1);
    background-color: var(--color3);
}

/* form */
label {
    display: block;
    margin: 15px 0 0 0;
}
input {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 300px;
}
input[type="submit"] {
    display: block;
    margin: 20px 0 10px 0;
    width: 150px;
    color: var(--color5);
}
legend {
    font-size: 20px;
    font-weight: bold;
    margin-left: 70px;
}
/* contact method */
main form fieldset #contact-method {
    width: 100px;
}
main form fieldset #contact-label, main form fieldset #contact-input {
    display: none;
}

/* gallery */
main div .album {
    height: 20em;
}
main div .album img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
main .album li {
    float: left;
    position: relative;
} 
main .album li figure {
    position: relative;
    margin: 0;
}
main .album .caption {
    width: 300px;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 0.5em;
    position: absolute;
    bottom: 0px;
    color: #fff;
}
main .album .description {
    width: 200px;
    visibility: hidden;
    position: absolute;
    bottom: 190px;
    left: 50%;
    transform: translate(-50%, 0); /* center entire description */
    text-align: center;
    padding: 1em 0 0.75em 0;
    background-color:rgb(255, 255, 255, 0.8)
}
main .album li:hover .description {
    visibility: visible;
    cursor: pointer;
}

/* info box */
main {
    height: 793px;
}
main #info-box {
    height: 400px;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 350px;
    border-radius: 20px;
}
main #info-box #info-heading {
    color: #fff;
    position: absolute;
    top: 0;
    width: 270px;
    height: 70px;
    margin: 40px;
    font-size: 2em;
}
main #info-box #info-text {
    color: #fff;
    position: absolute;
    top: 150px;
    width: 270px;
    margin: 0 40px;
}
main #info-box #info-link {
    color: goldenrod;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    width: 270px;
    height: 100px;
    margin: 0 40px;
    text-align: center;
    cursor: pointer;
}
